@media all and (max-width: 399px){

    *{
        padding: 0;
        margin: 0;
    }
    
    html{
        width: 100%;
        min-height: 100vh;
    }
    
    body{
        width: 100%;
        min-height: 100vh;
        overflow-x: hidden;
        background-image: url("../img/road-815297_1920.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    a{
        text-decoration: none;
    }
    
    :-moz-focusring {
        border: none;
        outline: none;
    }
    
    .wrapper{
        width: 100%;
        min-height: 100vh;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .wrapper > .dark-layer{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    
    @media all and (max-width: 399px){
    
        .wrapper > nav{
            position: absolute;
            top: 0;
            left: 50%;
            width: 320px;
            margin-left: -160px;
            z-index: 3;
            height: auto;
            box-sizing: border-box;
        }
        
        .wrapper > nav > ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 0;
            list-style-type: none;
            margin: 0;
            flex-wrap: wrap;
            padding-top: 20px
        }
        
        ul > a > li{
            width: 150px;
            height: auto;
            padding: 10px;
            text-align: center;
            color: #ffffff;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 1.2rem;
            cursor: pointer;
            box-sizing: border-box;
            border: 1px solid #ffffff;
            position: relative;
            overflow: hidden;
            margin-top: 20px;
        }
        
        li:hover .border-bottom{
            left: 0;
        }
    
    }
    
    .wrapper > .blog-header{
        width: auto;
        height: auto;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 250px;
        position: relative;
        z-index: 3;
        transform: translateY(15px);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s linear, transform .4s linear; 
    }
    
    .wrapper > .blog-header > header{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .blog-header > header > h1{
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 2.5rem;
        color: #ffffff;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    
    .blog-header > header > i{
        color: #ffffff;
        font-size: 2.5rem;
        transform: scaleX(1.2);
        cursor: pointer;
        transition: all .1s linear;
        padding-top: 20px;
    }
    
    .blog-header > header > i:hover{
        transform: translateY(10px)
    }
    
    .blog-perf{
        width: 100%;
        height: auto;
        background-color: rgba(0,0,0,0.6);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blog-perf > .blog-text-main{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 0 10px 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .blog-main{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0 0px 0;
        position: relative;
        z-index: 1;
        flex-direction: column;
    }

    .blog-main > .dark-layer{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .blog-main > footer{
        width: 100%;
        height: 50px;
        background-color: transparent;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-left: 20px;
    }

    .blog-text-main > ul{
        width: 100%;
        height: auto;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .blog-text-main > ul > li:last-child{
        margin-bottom: 0;
    }

    .blog-text-main > ul > li{
        margin-bottom: 50px;
        box-sizing: border-box;
        padding: 20px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        transition: transform .2s linear;
        background-color: #ffffff;
    }

    ul > li > .post-content{
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 20px;
        padding-top: 10px;
        position: relative;
    }

    li > .image-post{
        width: 280px;
        height: auto;
        background: #000;
    }

    .post-content > .ul-empty{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }

  li > .post-content   > header{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .post-content > header > h3{
        font-family: "Lato", sans-serif;
        font-weight:600;
        font-size: 2rem;
        color: #3c3c3c;
        text-align: center;
    }

    li > .post-content > .text{
        width: auto;
        height: auto;
        padding-bottom: 60px;
        font-family: "Open Sans", sans-serif;
        font-weight:400;
        color: #606060;
        font-size: 1rem;
        text-align: center;
    }

    li > .post-content > .date{
        width: auto;
        height: auto;
        font-family: "Open Sans", sans-serif;
        font-weight:400;
        color: #818181;
        font-size: .9rem;
        position: absolute;
        bottom: 0;
        padding-bottom: 20px;
    }

    ul > li > .dot{
        width: 50px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 7px;
    }

    li > .dot > i{
        font-size: 1rem;
        color: #B3CEBF;
    }

    footer > p{
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: .8rem;
        color: #ffffff;
    }

}